<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="ADMS" value="https://pkgs.dev.azure.com/DigitalSolutionsDivision/ADMS/_packaging/ADMS/nuget/v3/index.json" />
    <add key="local" value="C:\Developer\repos\ADMS\ApiFramework\ADMS.Services.Infrastructure.WebApi\bin\Debug" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration> 