<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="employment.typeMapper" type="Employment.Services.Infrastructure.Core.Configuration.TypeMapperSection, Employment.Services.Infrastructure.Core"/>
    <section name="employment.webApi" type="Employment.Services.Infrastructure.WebApi.Configuration.WebApiSection, Employment.Services.Infrastructure.WebApi"/>
    <section name="employment.webApiClient" type="Employment.Services.Infrastructure.WebApiClient.Configuration.WebApiClientSection, Employment.Services.Infrastructure.WebApiClient"/>
    <section name="employment.serviceRequestMessages" type="Employment.Services.Infrastructure.Service.Configuration.ServiceRequestMessagesSection, Employment.Services.Infrastructure.Service"/>
	  <section name="employment.swagger" type="Employment.Services.Infrastructure.WebApi.Documentation.Configuration.SwaggerSection, Employment.Services.Infrastructure.WebApi"/>
  </configSections>
	<employment.swagger tryItOutEnabled="false"/>

	<connectionStrings>
    <add name="EmpDbContext" connectionString="Data Source=DRDMTPSQLD.datasources.network;Initial Catalog=EMP;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Db_ConnADW" connectionString="Data Source=ESGSQLD;Initial Catalog=ADW;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="InfrastructureStore" connectionString="Data Source=ESGSQLD;Initial Catalog=InfrastructureStore;Integrated Security=True;enlist=false" providerName="System.Data.SqlClient"/>
	  <!--<add name="EALogging" connectionString="Data Source=ESGSQLDS;Initial Catalog=EALogging;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
	<appSettings>
		<add key="UnitTestMode" value="true" />
	</appSettings>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>-->
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
		  </dependentAssembly>
	  </assemblyBinding>
  </runtime>

	<employment.typeMapper>
	  <types>
      <add name="ApprenticeService" type="ADMS.Services.Apprentice.ServiceInterface.IApprenticeService, ADMS.Services.Apprentice" mapTo="ADMS.Services.Apprentice.Service.ApprenticeService, ADMS.Services.Apprentice"/>
      <add name="ApprenticeRepository" type="ADMS.Services.Apprentice.Repository.IApprenticeRepository, ADMS.Services.Apprentice" mapTo="ADMS.Services.Apprentice.Repository.ApprenticeRepository, ADMS.Services.Apprentice"/>
      <add name="Logger" type="Employment.Services.Infrastructure.Core.Interface.ILogger, Employment.Services.Infrastructure.Core" mapTo="Employment.Services.Infrastructure.UnitTesting.MockLogger, Employment.Services.Infrastructure.Testing"/>
		  <add name="User" type="Employment.Services.Infrastructure.Core.Interface.IUser, Employment.Services.Infrastructure.Core" mapTo="Employment.Services.Infrastructure.Core.Identity.User, Employment.Services.Infrastructure.Core"/>
      <add name="Authoriser" type="Employment.Infrastructure.Security.Authorisation.IAuthoriser, Employment.Infrastructure.Security" mapTo="Employment.Infrastructure.Security.Development.Authorisation.UnitTestAuthoriser, Employment.Services.Infrastructure.Testing"/>
		  <add name="FeatureToggle" type="Employment.Infrastructure.Feature.IFeatureToggle, Employment.Infrastructure.Feature" mapTo="Employment.Infrastructure.Feature.Testing.AlwaysActiveFeatureToggle, Employment.Infrastructure.Feature" />
	  </types>
  </employment.typeMapper>

  <!--<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>-->

  <employment.webApi>
    <stackTrace returnStackTrace="true"/>
    <unauthorizedException returnDetailedInformation="true"/>
    <internalServerError returnDetailedInformation="true"/>
    <userContext allowSpecifiedDateTime="true"/>
    <corsContext allowCors="true"/>

	  <jwtSecurity useDefaultAudiences="true" defaultAudienceSuffix=":dev" enabled="false" federationMetadata="https://sts.dev.construction.enet/federationmetadata/2007-06/federationmetadata.xml">
      <audiences>
        <add audience="urn:dll:servicebus:dev"/>
        <add audience="urn:api:documentstore:dev"/>
        <add audience="urn:api:administration:dev"/>
        <add audience="urn:mvc:essweb:dev"/>
        <add audience="urn:wcf:wcfinternal:dev"/>
        <add audience="urn:localdev"/>
      </audiences>
      <delegatedIssuers>
        <add issuer="urn:iss:localdev" thumbprint="DB85F98B3837287FD98179C92CB8A40FA32A34FF"/>
      </delegatedIssuers>
    </jwtSecurity>
  </employment.webApi>
	
  <employment.serviceRequestMessages connectionStringName="Db_ConnADW"/>
	
  <runtime>
  </runtime>
<employment.webApiClient allowSpecifiedDateTime="false"  >
  <WebApiResources>
     <WebApiResource name="Configuration" uri="" functionalArea="Authorisation">
      <Methods>
        <Method name="Get" uri="/CurrentConfiguration"/>
      </Methods>
    </WebApiResource>

  </WebApiResources>
  <FunctionalAreas>
    <FunctionalArea name="Authorisation" host="unitTestAuthorisation" url="/api" />
  </FunctionalAreas>
  <Hosts>

    <Host name="unitTestAuthorisation" url="" />

    <Host name="localDevAuthorisation" url="http://localhost:9630" />

    <Host name="localDevRefData" url="http://localhost:17249" />
    <Host name="Dev" url="http://webapi.edc.hosts.devnetwork/dev" />
    <Host name="DevX" url="http://webapi.edc.hosts.devnetwork/devx" />
    <Host name="Test" url="http://localhost" />
    <Host name="Test1" url="http://webapi.test.edc.hosts.network/test1" />
    <Host name="Test2" url="http://webapi.test.edc.hosts.network/test2" />
    <Host name="Test3" url="http://webapi.test.edc.hosts.network/test3" />
    <Host name="Test4" url="http://webapi.test.edc.hosts.network/test4" />
    <Host name="TestX" url="http://webapi.test.edc.hosts.network/testx" />
    <Host name="PProd" url="http://webapi.pprod.edc.hosts.network/" />
    <Host name="Prod" url="http://webapi.hosts.network/" />
    <Host name="DevFix" url="http://webapi.devfix.edc.hosts.network/devfix" />
    <Host name="TestFix" url="http://webapi.testfix.edc.hosts.network/testfix" />
    <Host name="ETestFix" url="http://webapi.testfix.edc.hosts.network/etestfix" />
    <Host name="PTrn" url="http://trainingwebapi.pprod.edc.hosts.network/" />
    <Host name="Trn" url="http://trainingwebapi.hosts.network/" />
  </Hosts>


  <WebApiSecurity jwtEnabled="false"/>
</employment.webApiClient>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
