<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<adms.webApi>
		<jwtSecurity>
			<delegatedIssuers xdt:Transform="Insert">
				<add issuer="urn:iss:localdev" thumbprint="DB85F98B3837287FD98179C92CB8A40FA32A34FF"/>
			</delegatedIssuers>
		</jwtSecurity>
	</adms.webApi>
</configuration>