<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="USIOAuth2ClientID" value="f404ad65-55bf-4df3-81eb-6ee5b6184a69" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>